
@font-face {
    font-family:'NorseBold' ;
    src: url(./fonts/Norse-Bold.otf) format('opentype');
    font-weight: bold;
    font-style: normal;
}
body{
    background-color: rgb(245, 245, 245);
}
#container{
    display: flex;
    /* gap: 20px; */
}
#sidebar_with_logo{
    background-image:url(./images/lexi-laginess-6poDd1l6UlM-unsplash.jpg);
    width: 40vw;
    height: 100vh;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 30vh;
    align-items: center;
    
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color:rgba(0, 0, 0, 0.5); 
    width: 40vw;
    font-family: 'NorseBold',sans-serif;
    font-size:xx-large;
}
.img{
    width: 50px;
}

.intro-text{
    padding-left: 20px;
    padding-top: 22vh;
}
#main_form form{
    background-color: white;
    padding: 15px;
}
.form-row{
    font-size: small;
    display: flex;
    gap: 25px;
    margin-bottom: 15px;
    

}
.input-group{
    display: flex;
    flex-direction: column;
    width: 40%;
    
}
input{
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
}
input:invalid{
    border-color: red;
}

.signup{
    padding-left: 20px;
    padding-top: 20px;
}
#btn{
    background-color: #596D48;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
}

input:focus{
    border-color: blue;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
}

